<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            {% if session['user_id'] %}
                <p>Hello, {{ session['username'] }}!</p>
                <a href="#" id="logoutButton">log out</a>
            {% else %}
                <a href="#" id="loginButton">log in</a>
                <a href="#" id="signupButton">sign up</a>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>