<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/">hem</a>
            {% if session['user_id'] %}
                <form id="logoutForm" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" value="log out">
                </form>
            {% else %}
                <button id="loginButton">log in</button>
            {% endif %}
        </nav>
    </header>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>