<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="header" class="header">
        <a href="/">Home</a>
    </div>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>