{% extends "base.html" %}

{% block body %}
    <h1>Welcome to the Home Page</h1>

    <form id="new-thread-form">
        <p>Loading new-thread-form...</p>
    </form>

    <span id="notifications" class="notifications"></span>

    <div id="threads-container" class="container">
        <p>Loading threads...</p>
    </div>

    <form id="pagination-form">
        <label for="limit">Threads per page:</label>
        <select id="limit" name="limit">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>

        <button type="button" id="first" disabled>First</button>
        <button type="button" id="prev" disabled>Previous Page</button>
        <span id="page-info">Page 1</span>
        <button type="button" id="next" disabled>Next Page</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let threads = [];
        let limit = null;
        let last_post_at = null;
        let lastId = null;
        let stack = [];
        let pageCache = [];
        let currentPage = 0;
        const container = document.getElementById('threads-container');
        let newThreadsCount = 0;

        function updatePageInfo() {
            document.getElementById('page-info').textContent = `Page ${currentPage + 1}`;
        }

        async function getThreads(limit, last_post_at = null, lastId = null) {
            try {
                let url = `/threads?limit=${limit}`;
                if (last_post_at) url += `&last_post_at=${encodeURIComponent(last_post_at)}`;
                if (lastId) url += `&last_id=${encodeURIComponent(lastId)}`;
                const res = await fetch(url, {
                    method: 'GET'
                });

                if (!res.ok) {
                    const data = await res.json().catch(() => null);
                    throw new Error(data?.error || "Failed to fetch threads");
                }

                const threads = await res.json();
                return threads;
            } catch (err) {
                console.error(err);
                return [];
            }
        }

        function renderThreads(threads) {
            container.innerHTML = '';
            if (!threads.length) {
                container.innerHTML = '<p>No threads found.</p>';
                return;
            }

            threads.forEach(thread => {
                const div = document.createElement('div');
                div.classList.add('item');
                const link = document.createElement('a');

                link.href = `/thread/${thread.id}`;

                const strong = document.createElement('strong');
                strong.textContent = thread.title;

                link.appendChild(strong);
                link.append(` by ${thread.username}, `);

                const posts = document.createElement('i');
                posts.textContent = `posts: ${thread.post_count} `;
                link.appendChild(posts);

                const small = document.createElement('small');
                small.textContent = `(last post: ${new Date(thread.last_post_at).toLocaleString()})`;
                link.appendChild(small);

                div.appendChild(link);
                container.appendChild(div);
            });
        }

        async function loadFirstPage() {
            limit = parseInt(document.getElementById('limit').value);

            threads = await getThreads(limit);

            pageCache = [threads];
            stack = [{
                last_post_at: threads.at(-1)?.last_post_at || null,
                lastId: threads.at(-1)?.id || null
            }];
            currentPage = 0;
            newThreadsCount = 0;
            document.getElementById('notifications').textContent = '';

            renderThreads(threads);

            document.getElementById('prev').disabled = true;
            document.getElementById('first').disabled = true;
            updatePageInfo();
            document.getElementById('next').disabled = threads.length < limit;
        }

        document.addEventListener('DOMContentLoaded', async () => {
            const newThreadForm = document.getElementById('new-thread-form');
            if (localStorage.getItem('access_token')) {
                newThreadForm.innerHTML = `
                    <input type="text" id="thread-title" placeholder="Thread title" required><br>
                    <textarea id="thread-content" placeholder="Thread content" required></textarea><br>
                    <button type="submit">Create Thread</button>
                `;
                
                newThreadForm.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const title = document.getElementById('thread-title');
                    const content = document.getElementById('thread-content');
                    if (!title.value.trim() || !content.value.trim()) return;

                    await createThread(title.value.trim(), content.value.trim());
                    title.value = '';
                    content.value = '';
                });
            } else {
                newThreadForm.innerHTML = '<p>Please log in to create a thread.</p>';
            }

            loadFirstPage();

            socket.on("error", (err) => {
                console.error("WebSocket connection error", err);
            });

            socket.on("joined_room", (data) => {
                console.log(`Joined room: ${data.room}`);
            });

            socket.on("new_thread", (thread) => {
                if (currentPage === 0) {
                    if (!threads.some(t => t.id === thread.id)) {
                        threads.unshift(thread);
                    }

                    if (threads.length > limit) {
                        threads.pop();
                    }

                    threads.sort((a, b) => {
                        const timeDiff = new Date(b.last_post_at).getTime() - new Date(a.last_post_at).getTime();
                        if (timeDiff !== 0) return timeDiff;

                        return Number(b.id) - Number(a.id);
                    });

                    renderThreads(threads);
                } else {
                    newThreadsCount++;
                    document.getElementById('notifications').textContent = `New threads: ${newThreadsCount}`;
                }
            });

            socket.on("new_post", (updated_thread) => {
                if (currentPage !== 0) return;

                const threadIndex = threads.findIndex(t => t.id === updated_thread.id);
                if (threadIndex === -1) return;

                thread = threads[threadIndex];

                // nothing changed
                if (thread.last_post_id === updated_thread.last_post_id) return;

                // update values
                thread.post_count = updated_thread.post_count;
                thread.last_post_id = updated_thread.last_post_id;
                thread.last_post_at = updated_thread.last_post_at;

                // remove old reference (important)
                threads.splice(threadIndex, 1);

                // re-add and fully sort (this is the key fix)
                threads.push(thread);

                threads.sort((a, b) => {
                    const timeDiff = new Date(b.last_post_at).getTime() - new Date(a.last_post_at).getTime();
                    if (timeDiff !== 0) return timeDiff;

                    return Number(b.id) - Number(a.id);
                });

                renderThreads(threads);
            });

            socket.on("connect", () => {
                socket.emit("join_room", {
                    room: "threads"
                });
            });
        });

        document.getElementById('notifications').addEventListener('click', loadFirstPage);
        document.getElementById('limit').addEventListener('change', loadFirstPage);
        document.getElementById('first').addEventListener('click', loadFirstPage);

        document.getElementById('next').addEventListener('click', async () => {
            limit = parseInt(document.getElementById('limit').value);

            const cursor = stack[currentPage];

            threads = await getThreads(
                limit,
                cursor.last_post_at,
                cursor.lastId
            );

            if (!threads.length) return;

            currentPage++;

            pageCache[currentPage] = threads;
            stack[currentPage] = {
                last_post_at: threads.at(-1)?.last_post_at || null,
                lastId: threads.at(-1)?.id || null
            };

            renderThreads(threads);

            document.getElementById('first').disabled = false;
            document.getElementById('prev').disabled = currentPage === 0;
            updatePageInfo();
            document.getElementById('next').disabled = threads.length < limit;
        });

        document.getElementById('prev').addEventListener('click', () => {
            if (currentPage === 0) return;

            currentPage--;

            if (currentPage === 0) {
                newThreadsCount = 0;
                document.getElementById('notifications').textContent = '';
            }

            threads = pageCache[currentPage];
            renderThreads(threads);

            limit = parseInt(document.getElementById('limit').value);

            document.getElementById('first').disabled = currentPage === 0;
            document.getElementById('prev').disabled = currentPage === 0;
            updatePageInfo();
            document.getElementById('next').disabled = threads.length < limit;
        });
    </script>
{% endblock %}