{% extends "base.html" %}

{% block body %}
    <h1>Welcome to the Home Page</h1>

    {% if session['user_id'] %}
        <p>Hello, {{ session['username'] }}!</p>
    {% endif %}
    <p>
        This is the main landing page of the web application.
        feel free to log in or sign up to access more features.
        for now, you can browse as a guest.
        lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
    </p>

{% endblock %}